html{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0 0;
    width: 100%;
    height: 100%;
    line-height: 12px;
}

.about{
    background: url("https://static.vexere.com/production/banners/813/Untitled-design-(1).png") top center / cover no-repeat;
    height: 600px;
    position: relative;
    
}

.about .header-logo{
    background: hsla(0,0%,100%,.2);
    position: relative;
}

.about .logo-container{
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo-container img{
    height: 48px;
    padding: 15px 0;
}

.about-content{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
}

.about-content .about-text-center{
    padding: 8px 0 24px 0;
    color: #fff;
}

.about-content .about-text-center h1{
    font-size: 3rem;
}

.about-text-center h2{
    font-size: 2rem;
}

.about-content-box{
    display: flex;
    justify-content:space-around ;
    padding: 24px 0;
}

.about-content-box .about-box{
    padding: 1.3rem;
    background-color: #fff;
    display: flex;
    border-radius: 4px;
}

.about-box .about-box-icon{
    display: flex;
    align-items: center;
    padding-right: 12px;
    font-size: 36px;
}

.about-box .about-box-content h3{
    min-width: 105px;
}

.about-content .about-register-button a{
    background-color: #ffc500;
    line-height: 24px;
    text-decoration: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 24px;
}

.why{
    background-color: #ffe;
    /* position: relative; */
    text-align: center;
    position: relative;
    height: 600px;

}

.why h2{
    width: 100%;
    position: absolute;
    top: 10%;
    color: #0060c4;
    font-size: 36px;
    z-index: 10;
}

.why-container{
    height: 60%;
    position: absolute;
    z-index: 0;
    left: 15%;
    right: 15%;
    top: 30%;
    display: flex;
    /* justify-content: space-around; */
}

.why .why-c-box{
    text-align: center;
    height: 100%;
    padding: 0 18px;
    flex: 1;
}

.why-c-box .why-b-row{
    font-size: 36px;
    height: 50%;

}

.why-b-row .why-b-r-icon{
    padding: 12px 0 12px;
    color: #0060c4;
}

.why-b-row .why-b-r-content{
    padding: 12px 0 64px;
    line-height: 32px;
    min-height: 24px;
}


#register{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#register .register-title{
    color: #0060c4;
    text-align: center;
    padding: 24px 0;
}

.register-content{
    display: flex;
}
.register-content .register-column{
    flex:1;
}
.register-box{
    max-height: 200px;
    display: flex;
    border: 1px solid #ccc;
    margin: 0 12px 18px;
}

.register-box .register-b-avatar{
    max-width: 200px;
}

.register-box .register-b-avatar img{
    height: 60%;
    padding: 36px
}
.register-b-info h3{
    padding: 28px 0 12px 0;
    margin: 8px 0;
}
.register-b-info h4{
    margin: 8px 0;
}

.register-b-info a{
    padding-top: 24px;
}


.register-column .register-form{
    display: flex;
    flex-direction: column;
}

.register-column .register-form input{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 18px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:8px;
}

.register-column .register-form .submit{
    margin-top: 24px;
    background-color: #ffc500;
}