<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="firstBean" class="com.example.learningspring.bean.BeanWithXml">
        <property name="name" value="dương"/>
        <property name="thisIsAProperty" value="cô nương"/>
    </bean>

    <bean id="baseBeanForInjection" class="com.example.learningspring.bean.BaseBeanForInjection">
        <property name="name">
            <value>dương cô nương</value>
        </property>
    </bean>

    <bean id="diWithSetter" class="com.example.learningspring.bean.DIWithSetter">
        <property name="baseBeanForInjection">
            <ref bean="baseBeanForInjection"/>
        </property>
    </bean>

    <bean id="diWithConstructor" class="com.example.learningspring.bean.DIWithConstructor">
        <constructor-arg>
            <bean class="com.example.learningspring.bean.BaseBeanForInjection"/>
        </constructor-arg>
    </bean>
</beans>